<div id="navbar"></div>

<div id="left-sidebar">
  <h3>Welcome to TournaGen!</h3>
  <a href="#teams">Click here to view all teams</a>
  <br>
  <a href="#tournaments">Click here to view all tournaments</a>
  <br>
  <a href="#tournaments/new">Create New Tournament</a>
</div>

<div id="main-content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    TournaGen.CURRENT_USER = {
      teamId: <%= current_user.owned_team.id %>
    };

    TournaGen.initialize();
  });
</script>
