<div id="navbar"></div>

<div id="left-sidebar"></div>

<div id="main-content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    TournaGen.CURRENT_USER = {
      email: "<%= current_user.email %>",
      teamId: <%= current_user.owned_team.id %>
    };

    TournaGen.initialize();
  });
</script>
