<div class="navbar"></div>

<div class="left-sidebar">
  <h3>Welcome to TournaGen!</h3>

  <a href="#tournaments">Click here to view tournaments</a>
  <br>
  <a href="#tournaments/new">Create New Tournament</a>
</div>

<div class="main-content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    TournaGen.initialize();
  });
</script>
