<div id="navbar"></div>

<div class="tutorial-end" data-step="5" data-intro="That's all for the tutorial. Go ahead and explore!"></div>

<div id="left-sidebar"></div>

<div id="main-content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    TournaGen.CURRENT_USER = {
      username: "<%= current_user.username %>",
      teamId: <%= current_user.owned_team ? current_user.owned_team.id : -1 %>
    };

    TournaGen.initialize();
  });
</script>
