<div id="navbar"></div>

<div id="left-sidebar"></div>

<div id="main-content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    TournaGen.CURRENT_USER = {
      username: "<%= current_user.username %>",
      teamId: <%= current_user.owned_team ? current_user.owned_team.id : nil %>
    };

    TournaGen.initialize();
  });
</script>
