<div class="right-side">
  <% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
    <button class="edit-button btn btn-info">Edit Team Information</button>
    <br><br>
  <% } %>
<% if (team.get("captain") !== TournaGen.CURRENT_USER.username) { %>
  <button class="join-button btn btn-info">
    <%= team.get("is_team_member") ? "Leave" : "Join" %> This team
  </button>
  <br><br>
<% } %>
</div>

<div class="team-details">
  <h2><%= team.escape("name") %></h2>
  <p>
    <strong>Team Captain</strong>: <%= team.escape("captain") %>
  </p>

  <p>
    <strong>Description</strong>
    <br>
    <%= team.escape("description") === "" ? "(None)" : team.escape("description") %>
  </p>
</div>

<div class="team-logo"></div>

<% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
  <button class="upload-button btn btn-info">Upload New Logo</button>
<% } %>

<div class="team-associations">
  <strong>Team Members</strong>
  <br>
  <ul class="team-members-index list-group">
    <li class="list-group-item">None</li>
  </ul><br>

  <strong>Registered Tournaments</strong><br>
  <ul class="tournaments-index list-group">
    <li class="list-group-item">None</li>
  </ul>

  <% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
    <button class="delete-button btn btn-info">Disband Team</button>
  <% } %>
</div>
