<h2><%= team.escape("name") %></h2>

<p>
  <strong>Team Captain</strong>: <%= team.escape("captain") %>
</p>

<% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
  <button class="edit-button btn btn-primary">Edit Team Information</button>
  <br><br>
<% } %>

<p>
  <strong>Description</strong>
  <br>
  <%= team.escape("description") %>
</p>

<button class="join-button btn btn-primary">
  <%= team.get("is_team_member") ? "Leave" : "Join" %> This team
</button>
<br><br>

<strong>Team Members</strong>
<br>
<ul class="team-members-index list-group">
  <li class="list-group-item">None</li>
</ul><br>

<strong>Registered Tournaments</strong><br>
<ul class="tournaments-index list-group">
  <li class="list-group-item">None</li>
</ul>

<% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
  <button class="delete-button btn btn-primary">Disband Team</button>
<% } %>
