<h2><%= team.escape("name") %></h2>

<p>
  <strong>Team Captain</strong>: <%= team.escape("captain") %>
</p>

<% if (team.escape("captain") === TournaGen.CURRENT_USER.username) { %>
  <button class="edit-button btn btn-primary">Edit Team Information</button>
  <br><br>
<% } %>

<p>
  <strong>Description</strong>
  <br>
  <%= team.escape("description") %>
</p>

<strong>Registered Tournaments</strong><br>
<ul class="tournaments-index list-group">
  None
</ul>
