<div class="following">
  <h2>Following</h2>

  <ul class="follow-tournaments-index list-group"></ul>
</div>

<div class="host">
  <h2>Host</h2>

  <ul class="host-tournaments-index list-group"></ul>
</div>
