<h2><%= tournament.isNew() ? 'New Tournament' : 'Edit Tournament' %></h2>

<form class="tournament-form">
  <label>
    Title<br>
    <input type="text" name="tournament[title]" class="form-control" placeholder="Title" value="">
  </label>

  <br>
  <label>
    Num. Teams (minimum: 4, maximum: 64)
    <input type="number" name="tournament[max_teams]" class="form-control" value="" min="4" max="64">
  </label>

  <br>
  <label>
    Description (optional)<br>
    <textarea name="tournament[description]" rows="8" cols="40" class="form-control"></textarea>
  </label>

  <br>
  <input type="submit" class="submit-tournament-form" value="Submit">
</form>
