<details>
  <summary>
    <a href="<%= "#tournaments/" + tournament.escape("id") %>">
      <%= tournament.escape("title") %>
    </a>
  </summary>
  <div>
    <%= tournament.escape("description") %>     
  </div>
</details>
