<details>
  <summary>
    <a href="<%= "#tournaments/" + tournament.escape("id") %>">
      <%= tournament.escape("title") %>
    </a>
  </summary>
  <%= tournament.escape("description") %>
</details>
