<a href="#tournaments">Back to Tournaments Index</a><br>
<h2><%= tournament.escape("title") %></h2>

<div class="num-follows-container"></div>

<p>Hosted by <%= tournament.escape("host") %></p>

<% if (tournament.get("authorized")) { %>
  <button class="edit-button btn btn-primary">Edit Tournament Details</button>
<% } %>

<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>

<% if (tournament.get("userTeam")) { %>
  <button class="register-button btn btn-primary">
    <%= tournament.get("registered") ? "Unregister From " : "Register For " %>Tournament
  </button>
  <br><br>
<% } %>

<% if (tournament.get("authorized")) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    You are the host of this tournament! To update the bracket, simply click the score area and input the score.
  </div>
<% } %>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    50%
  </div>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 2%;">
    2%
  </div>
</div>

<div id="bracket-container">
  <div class="bracket-body"></div>
</div>

<br>
<strong>Registered Teams</strong><br>
<ul class="teams-index list-group">
  <li class="list-group-item">None</li>
</ul>

<% if (tournament.get("authorized")) { %>
  <button class="delete-button btn btn-primary">Delete Tournament</button>
<% } %>
