<a href="#tournaments">Back to Tournaments Index</a><br>
<h2><%= tournament.escape("title") %></h2>

<p>Hosted by <%= tournament.escape("host") %></p>
<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>

<button class="register-button btn btn-primary">
  <%= tournament.get("registered") ? "Unregister" : "Register" %>
</button>
<br><br>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  You are the host of this tournament! To update the bracket, simply click the score area and input the score.
</div>

<div id="bracket-container">
  <div class="bracket-body"></div>
</div>

<br>
<strong>Registered Teams</strong><br>
<ul class="teams-index group-list"></ul>
