<h2><%= tournament.escape("title") %></h2>

<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>

<div id="minimal">
  <div class="demo">

  </div>
</div>

<strong>Teams</strong><br>
<ul class="teams-index group-list"></ul>

<button class="register-button">
  <%= tournament.get("registered") ? "Unregister" : "Register" %>
</button>
