<a href="#tournaments">Back to Tournaments Index</a><br>
<h2><%= tournament.escape("title") %></h2>

<p>Hosted by <%= tournament.escape("host") %></p>
<p>
  <strong>Description</strong>
  <br>
  <%= tournament.escape("description") %>
</p>

<button class="register-button btn btn-primary">
  <%= tournament.get("registered") ? "Unregister" : "Register" %>
</button>

<div id="bracket-container">
  <div class="bracket-body">

  </div>
</div>

<strong>Teams</strong><br>
<ul class="teams-index group-list"></ul>
