<div class="user-session-container">
  <h1>Sign Up!</h1>

  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>
      Username<br>
      <input type="text" name="user[username]" value="" placeholder="Username">
    </label>
    <br>
    <label>
      Email<br>
      <input type="text" name="user[email]" value="" placeholder="Email">
    </label>
    <br>
    <label>
      Password<br>
      <input type="password" name="user[password]" value="" placeholder="Password">
    </label>

    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
    <br><br>
    <%= link_to "Log In With Existing Account", new_session_url %>
  </form>
</div>
