/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  background: -webkit-linear-gradient(90deg, #403B4A 10%, #E7E9BB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #403B4A 10%, #E7E9BB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #403B4A 10%, #E7E9BB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #403B4A 10%, #E7E9BB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #403B4A 10%, #E7E9BB 90%); /* W3C */
}

body {
  box-sizing: border-box;
}

@for $i from 3 through 15 {
  #main-content div.jQBracket.total-#{$i}[style] { width: ((150px * $i) + 80) !important; }
}

#navbar .navbar.navbar-default{
  background: rgb(13, 0, 32);
  color: rgb(222, 138, 67);
  border-radius: 0px;
  border-color: rgb(13, 0, 32);
  font-size: 16px;
}

#navbar a {
  color: rgb(222, 134, 66);
  background: rgb(13, 0, 32);
}

#navbar a.navbar-brand {
  font-size: 24px;
}

#navbar li a:hover {
  text-shadow: 0px 0px 15px rgb(222, 134, 66);
}

#navbar ul {
  background: rgb(13, 0, 32);
}

#navbar li.divider {
  background-color: rgb(222, 134, 66);
}

#navbar li:hover {
  border-color: rgb(222, 132, 66);
}

#navbar li.active a {
  text-shadow: 0px 0px 15px rgb(221, 170, 0);
  color: rgb(221, 170, 0);
}

#navbar div.search-results {
  position: fixed;
  top: 50px;
  right: 110px;
  max-height: 500px;
  overflow-y: auto;
}

div.search-results .teams-results {
  float: left;
}

div.search-results .tournaments-results {
  float: left;
}

#left-sidebar {
  float: left;
  display: block;
  margin: 0 20px;
  width: 15%;
  background: rgba(13, 0, 32, 0.74902);
  border-radius: 5px;
  padding: 10px;
  color: rgb(222, 138, 67);
}

#left-sidebar a {
  color: #de8642;
}

#main-content > div{
  background: rgba(222,134,66, 0.74902);
  float: left;
  display: block;
  width: 60%;
  color: rgb(13, 0, 32);
  border-radius: 5px;
  padding: 10px;
}

div#main-content div#bracket-container {
  max-height: 500px;
  overflow: auto;
  border-radius: 0px;
  border-top: 1px solid rgb(13, 0, 32);
}

.modal-background {
  background: rgba(92, 88, 88, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal-content {
  z-index: 1001;
  position: fixed;
  top: 15%;
  left: 30%;
  background: rgb(13, 0, 32);
  color: rgb(222,134,66);
  padding: 1pc;
  border: 2px solid;
  border-radius: 5px;
}

select {
  color: black;
}

.user-session-container {
  z-index: 1001;
  position: absolute;
  top: 15%;
  left: 40%;
  background: rgba(13, 0, 32, 0.74902);
  color: rgb(222,134,66);
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

.user-session-container input {
  color: black;
}

a {
  color: rgb(13, 0, 32);
}

ul.list-group {
  margin: 0px;
  padding: 0px;
  left: 0px;
}

ul.list-group li.list-group-item {
  background-color: inherit;
  border-color: inherit;
  left: 0px;
  padding-left: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

h1, h2, h3 {
  margin-top: 0px;
}
