details img {
  float: left;
}

div.team-associations {
  margin-top: 10px;
  width: 100%;
  display: block;
  float: left;
}

div.team-details {
  width: 60%;
  display: block;
  float: right;
}

div.team-profile {
  display: block;
  float: left;
}
