<h3>Welcome to TournaGen!</h3>
<a href="#">View Feed</a>
<br>
<a href="#teams">Browse Teams</a>
<br>
<a href="#tournaments">Browse Tournaments</a>
<br>
<% if (TournaGen.CURRENT_USER.teamId === -1) { %>
  <a class="team-form" href="#">Make Your Own Team!</a>
  <br>
<% } %>
<a class="tournament-form" href="#">Create New Tournament</a>
